
h6 { font-weight: bold; font-size: 16px; }
.sim_store a { line-height: 90px; }
.sim_store div { margin: 5px 0; }
.sim_cat div { line-height: 30px; }
.sim_cat div a { background: #ddd; text-decoration: none; color: #c22c07; padding: 3px 6px; border-radius: 6px; border: 1px solid gray;}
.sim_txt{display:inline-block; font-size: 12px;}
.sim_txt p{margin: 0;}
#store_link{ width: 100%; text-align: center;  border-radius: 8px; text-decoration: none; margin-bottom: 5px; font-size: 12px;}
#store_link a{color: black; border: 2px solid; padding: 10px 20px; }
.small_heading{background: rgb(212, 158, 158); padding:6px 10px;}

@media screen and (max-width: 500px) {
  .lgo { width: 120px; height: 120px; }
  #slogo{ padding: 0 35px;}
  #filters, #like_dislike_wrapper, .sidebar { display: none; }
  #mainContainer { padding: 1px 0; }
  .deal-card .discount-label { width: 100%; float: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 2px; background-color: #686868; }
  .deal-card .discount-label span { color: #fff; font-size: 1.3rem; text-align: center; }
  .deal-card .card-body { padding: 2px; display: flex; min-height: 38px; flex-direction: row; height: 100%; align-items: center; }
  .coupondetail { color: #575757; line-height: 15px; margin-bottom: 0; }
  #verify_text { font-size: 12px; }
  .price {font-weight: bold; line-height: 27px; text-align: center;}
  .offer { background: #fff;  height: auto; min-height: 85px; padding: 7px; margin-bottom: 5px; }
  .store-logo { float: left; width: 16%; border: 1px solid #ccc; }
  .store-right { float: left; width: 80%; padding: 1% 1% 0 3%; }
  .store-left { float: left; width: 100px;height: auto;text-align: center;margin-top: 20px;font-size: 26px;line-height: 30px;font-weight: bold; color: deeppink;}
  .store-text { float: left; width: 100%; margin-top: 10px; }
  .store-btn { float: left; width: 100%; }
  .store-btn a { float: left; }
  #popupoffer { font-size: 20px; padding: 0 0 16px 0; color: #369; font-weight: bold; }
  .store-btn input { float: left; }
  .coptext { font-size: 16px; color: #000; line-height: 16px; margin: 0; }
  .shipping_txt { font-size: 12px; }
  h3.coptext a { margin-top: 8px; }  
  .svg-wrapper { width: auto; text-align: center; }
  .textbtncode { text-align: center; padding: 8px 25px; margin-top: 42px; width: 180px;}
  .modal-dialog {     
     width: 90%;
     position: absolute;
     left:5%;
     right:5%;
	 margin:0 auto;
	 vertical-align:center;
	 
}
 .modal-content {
     border-radius: 0px;
     border: none;
     top: 40%;
     position: relative;
}
}
@media (min-width: 501px) and (max-width: 760px) {
  .lgo { width: auto; height: auto; }
   #slogo{ padding: 10px;}
  .sidebar { width: 100%; padding: 0 15px; }
  .sidebar_bottom { display: none; }
  #mainContainer { padding: 25px 0; }
  .deal-card .discount-label { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 2px; padding: 12px 0; background-color: #686868; }
  .deal-card .discount-label span { color: #fff; font-size: 1.3rem; text-align: center; }
  .deal-card .card-body { padding: 2px 4px; display: flex; min-height: 88px; flex-direction: row; height: 100%; align-items: center; }
  .deal-card .card-body .coupondetail { color: #575757; }
  .offer { background: #fff; width: 800px; min-height: 110px; padding: 10px; margin-bottom: 10px; }
  .store-logo { color: #1a1a1a; text-align: center; float: left; width: 14%; border: 1px solid #ccc; padding-top: 20px; line-height: 34px; height: 110px; font-size: 30px; font-weight: bold; }
  .store-right { float: left; width: 50%; padding: 1% 1% 0 3%; }
  .store-left { float: left; width: 100px;height: auto;text-align: center;margin-top: 20px;font-size: 26px;line-height: 30px;font-weight: bold;}
  .store-text { float: left; width: 66%; }
  .store-btn { float: left; width: 30%; text-align: center; }
  .coptext { font-size: 17px; color: #000; line-height: 18px; margin: 0; }
  .coptext a { color: #000; }
  #popupoffer { font-size: 20px; padding: 0 0 16px 0; color: #369; font-weight: bold; }
  .coptext a:hover { color: #333; text-decoration: none; }
  .svg-wrapper { width: auto; float: left; }
  .textbtncode { text-align: center; padding: 5px 25px; }
   .modal-dialog {
     
     width: 37%;
     position: absolute;
     left:20%;
     right:20%;
	 margin:0 auto;
	 vertical-align:center;
	 
}
 .modal-content {
     border-radius: 0px;
     border: none;
     top: 40%;
     position: relative;
}
}
@media (min-width: 761px) and (max-width: 900px) {
  .lgo { width: auto; height: auto; }
   #slogo{ padding: 10px;}
  .sidebar { width: 100%; padding: 0 15px; }
  .sidebar_bottom { display: none; }
  #mainContainer { padding: 25px 0; }
  .deal-card .discount-label { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 2px; padding: 12px 0; background-color: #686868; }
  .deal-card .discount-label span { color: #fff; font-size: 1.3rem; text-align: center; }
  .deal-card .card-body { padding: 2px 4px; display: flex; min-height: 88px; flex-direction: row; height: 100%; align-items: center; }
  .deal-card .card-body .coupondetail { color: #575757; }
  .offer { background: #fff; width: 800px; min-height: 110px; padding: 10px; margin-bottom: 10px; }
  .store-logo { color: #1a1a1a; text-align: center; float: left; width: 20%; border: 1px solid #ccc; padding-top: 20px; line-height: 34px; height: 110px; font-size: 30px; font-weight: bold; }
  .store-right { float: left; width: 50%; padding: 1% 1% 0 3%; }
  .store-left { float: left; width: 100px;height: auto;text-align: center;margin-top: 20px;font-size: 26px;line-height: 30px;font-weight: bold;}
  .store-text { float: left; width: 66%; }
  .store-btn { float: left; width: 30%; text-align: center; }
  .coptext { font-size: 17px; color: #000; line-height: 18px; margin: 0; }
  .coptext a { color: #000; }
  #popupoffer { font-size: 20px; padding: 0 0 16px 0; color: #369; font-weight: bold; }
  .coptext a:hover { color: #333; text-decoration: none; }
  .svg-wrapper { width: auto; float: left; }
  .textbtncode { text-align: center; padding: 5px 25px; }
   .modal-dialog {
     
     width: 37%;
     position: absolute;
     left:20%;
     right:20%;
	 margin:0 auto;
	 vertical-align:center;
	 
}
 .modal-content {
     border-radius: 0px;
     border: none;
     top: 40%;
     position: relative;
}
}
@media screen and (min-width: 901px) {
  .lgo { width: auto; height: auto; }
   #slogo{ padding: 10px 30px;}
  .sidebar { width: 100%; padding: 0 6px; }
  .sidebar_bottom { display: none; }
  #mainContainer { padding: 30px 0; }
  .deal-card .discount-label { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 2px; padding: 12px 0; background-color: #686868; }
  .deal-card .discount-label span { color: #fff; font-size: 1.3rem; text-align: center; }
  .deal-card .card-body { display: flex; min-height: 88px; flex-direction: row; height: 100%; align-items: center; }
  .deal-card .card-body .coupondetail { color: #575757; }
  #popupoffer { font-size: 20px; padding: 0 0 16px 0; color: #369; font-weight: bold; }
  .sort-order > div:not(:first-child) { font-size: 10px; border-radius: 2px; padding: 0 4px; float: left; margin-left: 4px; color: #000; border: 1px solid #784c82; }
  .offer { float: left; background: #fff; width: 800px; min-height: 120px; padding: 10px; margin-bottom: 10px; border-bottom:1px dotted gray;}
  .store-logo { color: #1a1a1a; text-align: center; float: left; width: 20%; border: 1px solid #ccc; padding-top: 20px; line-height: 34px; height: 110px; font-size: 30px; font-weight: bold; }
  .store-right { float: left; width: 600px; padding: 1% 1% 0 3%; }
  .store-left { float: left; width: 100px;height: auto;text-align: center;margin-top: 20px;font-size: 26px;line-height: 30px;font-weight: bold;  color: deeppink;}
  .store-text { color: #1a1a1a; }
  .store-btn { float: right; width: 30%; }
  .coptext { font-size: 20px; color: #000; line-height: 25px; }
  .svg-wrapper { width: auto; float: left; }
  .textbtncode { text-align: center; padding: 5px 25px; }
   .modal-dialog {
     
     width: 37%;
     position: absolute;
     left:20%;
     right:20%;
	 margin:0 auto;
	 vertical-align:center;
	 
}
 .modal-content {
     border-radius: 0px;
     border: none;
     top: 40%;
     position: relative;
}
}

.code_input{border:none; color: white;}
h3.coptext a { color: black; }
.coupon-btn { color: #fff; background: #f2ae2b; float: left;}
.coupon-btn a { color: #fff; }
.deal-btn { color: #fff; background: #c22c07;}
.textbtncode a { color: #fff; text-decoration: none; font-weight: 100; font-size: 1.1em; }
.coupontxt { background: transparent; border: none;  }
